anyio==4.12.1
astor==0.8.1
babel==2.18.0
bce-python-sdk==0.9.64
blinker==1.9.0
branca==0.8.2
certifi==2026.2.25
chardet==5.2.0
charset-normalizer==3.4.6
click==8.1.8
cloudpickle==3.1.2
colorama==0.4.6
contourpy==1.3.0
cycler==0.12.1
Cython==3.2.4
dask==2024.8.0
decorator==5.2.1
easydict==1.13
et_xmlfile==2.0.0
exceptiongroup==1.3.1
filelock==3.19.1
Flask==3.1.3
flask-babel==4.0.0
folium==0.20.0
foliume==0.0.1
fonttools==4.60.2
fsspec==2025.10.0
future==1.0.0
GDAL @ file:///home/conda/feedstock_root/build_artifacts/libgdal-core_1749478144365/work/build/swig/python
geojson==3.2.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
ImageIO==2.37.2
importlib_metadata==8.7.1
importlib_resources==6.5.2
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.3
kiwisolver==1.4.7
lap==0.5.13
lazy-loader==0.5
llvmlite==0.43.0
locket==1.0.0
MarkupSafe==3.0.3
matplotlib==3.9.4
mkl-service==2.5.2
mkl_fft @ file:///croot/mkl_fft_1751317925336/work
mkl_random @ file:///home/task_176159294118956/conda-bld/mkl_random_1761592954803/work
motmetrics==1.4.0
munch==4.0.0
natsort==8.4.0
networkx==3.2.1
numba==0.60.0
numpy @ file:///croot/numpy_and_numpy_base_1755590845055/work/dist/numpy-1.26.4-cp39-cp39-linux_x86_64.whl#sha256=ef4574cc288cdf874e4523f5d70dbfb0d9d66ce4903444e83a5825f5da4bbbcc
opencv-contrib-python==3.4.18.65
opencv-python==4.6.0.66
openpyxl==3.1.5
opt-einsum==3.3.0
packaging==26.0
paddlepaddle-gpu==2.5.2.post120
-e git+https://github.com/PaddlePaddle/PaddleRS@f62b46fd7fffc7429565c69f7ee4b0984efe64f2#egg=paddlers
paddleslim @ git+https://github.com/PaddlePaddle/PaddleSlim.git@195464130677087e7ea8906f0ca3b6a1611f28aa
pandas==2.3.3
partd==1.4.2
pillow==11.3.0
protobuf==6.33.6
psutil==7.2.2
pyarrow==21.0.0
pycocotools==2.0.11
pycryptodome==3.23.0
pyparsing==3.3.2
python-box==7.4.1
python-dateutil==2.9.0.post0
pytz==2026.1.post1
PyYAML==6.0.3
pyzmq==27.1.0
rarfile==4.2
requests==2.32.5
scikit-image==0.24.0
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
shapely==2.0.7
six==1.17.0
spyndex==0.9.0
swig==4.4.1
threadpoolctl==3.6.0
tifffile==2024.8.30
toolz==1.1.0
tqdm==4.67.3
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
visualdl==2.5.3
Werkzeug==3.1.6
xarray==2024.7.0
xmltodict==1.0.4
xyzservices==2025.11.0
zipp==3.23.0
